<nav id="navbar-main" class="navbar navbar-fixed-top">

	<div class="navbar-accueil">
		<div class="btn-accueil">
			<i class="fa fa-home"></i>
		</div>
	</div>

	<div class="navbar-line"></div>

	<div class="navbar-section">
		<div id="btn-section-pro" class="btn-section">
			<p id="pro" class="section">SECTION PROFESSIONNELLE</p>
		</div>
	</div>

	<div class="navbar-separator">
		<img class="logo" src="assets/img/Infinite_2.png">
	</div>

	<div class="navbar-section">
		<div id="btn-section-perso" class="btn-section">
			<p id="perso" class="section">SECTION PERSONNELLE</p>
		</div>
	</div>

</nav>

<nav id="under-navbar-perso" class="navbar-fixed-top under-navbar">

	<div class="triangle-gauche"></div>
	<div class="triangle-droite"></div>

	<div class="centre">

		<div class="btn-lien btn-lien-perso">
			<p class="lien">A VENIR</p>
		</div>
		<div class="navbar-line2"></div>
		<div class="btn-lien btn-lien-perso">
			<p class="lien">A VENIR</p>
		</div>
		<div class="navbar-line2"></div>
		<div class="btn-lien btn-lien-perso">
			<p class="lien">A VENIR</p>
		</div>
		<div class="navbar-line2"></div>
		<div class="btn-lien btn-lien-perso">
			<p class="lien">A VENIR</p>
		</div>
		<div class="navbar-line2"></div>
		<div class="btn-lien btn-lien-perso">
			<p class="lien">A VENIR</p>
		</div>

	</div>
</nav> 

<nav id="under-navbar-pro" class="navbar-fixed-top under-navbar">

	<div class="triangle-gauche"></div>
	<div class="triangle-droite"></div>

	<div class="centre">

		<div id="btn-cv" class="btn-lien btn-lien-pro">
			<p class="lien">CV</p>
		</div>
		<div class="navbar-line2"></div>
		<div id="btn-formation" class="btn-lien btn-lien-pro">
			<p class="lien">FORMATION</p>
		</div>
		<div class="navbar-line2"></div>
		<div id="btn-exp" class="btn-lien btn-lien-pro">
			<p class="lien">EXPERIENCES</p>
		</div>
		<div class="navbar-line2"></div>
		<div id="btn-savoir" class="btn-lien btn-lien-pro">
			<p class="lien">SAVOIR-FAIRE</p>
		</div>
		<div class="navbar-line2"></div>
		<div id="btn-projet" class="btn-lien btn-lien-pro">
			<p class="lien">PROJETS</p>
		</div>

	</div>
</nav>



