.navbar {
	height: 80px;
	background-color: rgb(25,25,25);
}

//------------------------------------

.navbar-accueil {
	float: left;
	//centre les enfants
	display: flex;
    flex-direction: column; 
    justify-content: center;
    //taille
    width: 125px;
	height: 80px;
}

.btn-accueil {
	//centre horizontal
	margin: 0 auto;
	//centre les enfants (horiz + verti)
	text-align: center;
	display: flex; 
    flex-direction: column;
    justify-content: center;
    //taille
	height: 50px;
	width: 50px;
}

.fa {
	font-size: 40px;
	color: rgb(249,249,249);
}

//------------------------------------

.navbar-line {
	//position
	float: left;
	margin-top: 25px;
    //taille
    width: 20px;
	height: 30px;
	//border
	border-left: 1.5px solid rgb(70,70,70);
}

//------------------------------------

.navbar-section {
	//position
	float: left;
	//centre les enfants
	display: flex;
    flex-direction: column; 
    justify-content: center;
	//taille
	width: 37%;
	height: 80px;
}

.btn-section {
	//centre horizontal
	margin: 0 auto;
	//centre les enfants (horiz + verti)
	text-align: center;
	display: flex; 
    flex-direction: column;
    justify-content: center;
    //taille
    width: 240px;
	height: 50px;
}

.section {
	//style
	font-family: 'FF_Mark';
	color: rgb(249,249,249);
	letter-spacing: 0.8px;
	font-size: 13px;
	//centre vertical
	margin: 0 auto;
	
}

//------------------------------------

.navbar-separator {
	//centre les enfants
	display: flex; 
    flex-direction: column;
    justify-content: center;
	//position
	float: left;
	//taille
	width: 90px;
	height: 80px;
}

.logo {
	width: 90px;
}

//------------------------------------

.pro {
	text-shadow : 0 0 5px rgb(25,25,25), 0 0 10px rgb(255,80,1), 0 0 25px rgb(255,80,1), 0 0 75px rgb(255,80,1);
	-webkit-text-stroke: .2px black;
}

.perso {
	text-shadow : 0 0 5px rgb(25,25,25), 0 0 10px rgb(33,109,252), 0 0 25px rgb(33,109,252), 0 0 75px rgb(33,109,252);
	-webkit-text-stroke: .2px black;
}