//----- BARRE DE NAVIGATION -----

.navbar {
	height: 80px;
	background-color: rgb(25,25,25);
	transition: all 0.5s ease-out;
}

#navbar-main {
	box-shadow: 0 0px 7px rgb(125,125,125);
}

//----- BOUTON D'ACCUEIL -----

.navbar-accueil {
	float: left;
	//centre les enfants
	display: flex;
    flex-direction: column; 
    justify-content: center;
    //taille
    width: 125px;
	height: 80px;
}

.btn-accueil {
	//centre horizontal
	margin: 0 auto;
	//centre les enfants (horiz + verti)
	text-align: center;
	display: flex; 
    flex-direction: column;
    justify-content: center;
    //taille
	height: 50px;
	width: 50px;
	//curseur
	cursor: pointer;
	//retirer contour de clic
	outline: none;
}

.fa {
	font-size: 40px;
	color: rgb(249,249,249);
	transition: text-shadow 0.3s ease-out;
}

.btn-accueil:hover {
	.fa {
		text-shadow : 0 0 10px rgb(125,125,125), 0 0 25px rgb(125,125,125);
	}	
}

//----- SÉPARATEUR ACCUEIL ET SECTIONS -----

.navbar-line {
	//position
	float: left;
	margin-top: 25px;
    //taille
	height: 30px;
	//apparence
	border-left: 1.5px solid rgb(70,70,70);
}

//----- SECTIONS -----

.navbar-section {
	//position
	float: left;
	//centre les enfants
	display: flex;
    flex-direction: column; 
    justify-content: center;
	//taille
	width: 37%;
	height: 80px;
}

.btn-section {
	//centre horizontal
	margin: 0 auto;
	//centre les enfants (horiz + verti)
	text-align: center;
	display: flex; 
    flex-direction: column;
    justify-content: center;
    //taille
    width: 300px;
	height: 80px;
	//curseur
	cursor: pointer;
	//retirer contour de clic
	outline: none;
}

.section {
	//style
	font-family: 'FF_Mark_Heavy';
	color: rgb(249,249,249);
	letter-spacing: 1.5px;
	font-size: 14px;
	//centre vertical
	margin: 0 auto;
}

@media (max-width: 850px)  {
	.navbar-section {
		display: none;
	}
	.btn-section {
		display: none;
		width: 0px;
	}
	#btn-section-pro{
		width: 0px;
	}
	#btn-section-perso{
		width: 0px;
	}
	.section {
		display: none;
	}
}

//----- SÉPARATEUR DES SECTIONS -----

.navbar-separator {
	//position horizontal de l'enfant
    text-align: center;
	//position
	float: left;
	//taille
	width: 10%;
	height: 80px;
}

.logo {
	width: 90px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 850px)  {
	.navbar-separator {
		//taille
		height: 80px;
		width: calc(100% - 127px);
	}
}


//----- SECTIONS PRO ET PERSO -----

#pro {
	transition: all 0.3s ease-out;
}

#btn-section-pro:hover {
	#pro {
		text-shadow : 0 0 5px rgb(25,25,25), 0 0 10px rgb(30,120,255), 0 0 25px rgb(30,120,255), 0 0 75px rgb(30,120,255);
		-webkit-text-stroke: .2px black;
	}
}

#perso {
	transition: all 0.3s ease-out;
}

#btn-section-perso:hover {
	#perso {
		text-shadow : 0 0 5px rgb(25,25,25), 0 0 25px rgb(255,80,1), 0 0 75px rgb(255,80,1);
		-webkit-text-stroke: .2px black;
	}
}





//----- SOUS-BARRE DE NAVIGATION -----

.under-navbar {
	height: 50px;
	transition: all 0.6s ease-out;
	//ombre au dessus
	z-index:-1;
	//position
	margin-top: 0px;
	margin-right: 40px;
	margin-left: 40px;
}

.triangle-gauche {
	//position
	float: left;
	//taille
	border-top: 50px solid rgb(25,25,25);
	border-left: 30px solid transparent;
}

.triangle-droite {
	//position
	float: right;
	//taille
	border-top: 50px solid rgb(25,25,25);
	border-right: 30px solid transparent;
}

.centre {
	//position
	float: left;
	//taille
	height: 50px;
	width: calc(100% - 60px);
	//apparence
	background-color: rgb(25,25,25);
	border-bottom: 3px solid rgb(75,75,75);
}


//----- CONTENU DES SOUS-BARRES -----

.btn-lien {
	//taille
	width: calc((100% - (4*52px))/5);
	height: 50px;
	//position
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	//style
	font-family: 'FF_Mark';
	color: rgb(240,240,240);
	letter-spacing: 2.5px;
	font-size: 11px;
	font-weight: bold;
	//bordure de sous sous-navbar
	border-bottom: 3px solid rgb(75,75,75);
	//curseur
	cursor: pointer;
	//retirer contour de clic
	outline: none;
}

.lien {
	//centrer le texte dans les cases
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-line2 {
	//position
	float: left;
	//taille
	height: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right: 25px;
	//apparence
	border-left: 1px solid rgb(70,70,70);
}


//----- CATEGORIES PRO ET PERSO -----

.btn-lien-pro:hover {
	border-bottom: 3px solid rgb(30,120,255);
}

.btn-lien-perso:hover {
	border-bottom: 3px solid rgb(200,100,20);
}