<div class="section-1">
	<div class="section-1-container">

		<canvas id="canvas-1-1"></canvas>
		<div class="section-1-photo">
			<canvas id="canvas-1-2"></canvas>
			<img id="photo-1" src="assets/img/section-1-photo.png">
		</div>

		<div class="section-1-texte">
			<p class="lien">
				Je m'appelle Valentin ANSART, ingénieur spécialisé en informatique et imagerie, actuellement ingénieur d'étude consultant chez Solutec. Aspirant à travailler dans les domaines de la réalité virtuelle et du serious games et applications ludiques, je suis à l'écoute d'opportuntiés dans la région lyonnaise. 
				<br>
				<br>
				Ce site web est un projet personnel sur lequel je travaille depuis le confinement, me permettant de regrouper mes informations professionnelles et personnelles. De mon CV à mes hobbies, cet espace me permet de mettre à disposition les informations que je souhaite partager, le tout sous un format blog. 
			</p>
		</div>
		
	</div>
</div>


<div class="section-2">

	<canvas class="canvas-2-1" id="canvas-2-1"></canvas>
	<canvas class="canvas-2-1" id="canvas-2-2"></canvas>

	<div class="section-2-container">
		<div id="section-2-pro" class="section-2-img-container" routerLinkActive="active" routerLink="professionnel">
			<img id="section-2-img-pro" class="section-2-img" src="assets/img/section-2-pro.png">
			<div class="section-2-text-container">
				<p id="section-2-title-pro" class="section-2-title"> PRO </p>
				<p id="section-2-text-pro" class="section-2-text"> Mon CV, mon parcours en école et en entreprise, mes projets... Cette section regroupe toutes les informations à connaître sur mon activité professionnelle. </p>
			</div>
		</div>

		<div id="section-2-perso" class="section-2-img-container" routerLinkActive="active" routerLink="personnel">
			<img id="section-2-img-perso" class="section-2-img" src="assets/img/section-2-perso.png">
			<div class="section-2-text-container">
				<p id="section-2-title-perso" class="section-2-title"> PERSO </p>
				<p id="section-2-text-perso" class="section-2-text"> Cet espace est dédié à mes réalisations personnelles et mes passions. Jeux vidéos, livre, audiovisuel, musique... tant de centre d'intérêts où je consomme autant que je créé. </p>
			</div>
		</div>
	</div>

</div>