//----- SECTION 1 -----

.section-1 {
	// centrer l'enfant
	position: relative;
	// taille
	height : 650px;
	//fond
	z-index:2;
	background-image: url("../../../assets/img/section-1-background.png");
}

.section-1-container {
    // centrer dans la section-1
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // taille
    width: 75%;
    height: 70%;
    // contenu
    background-color: rgb(15,15,15);
    transition: all 0.2s ease-out;
    border: 1px solid rgba(170,130,40,1);
    //border: 2px solid rgb(125,125,125);
}

@media (max-width: 500px)  {
	.section-1-container {
		width: 376px;
	}
}

.section-1-container:hover {
	box-shadow: -4px -4px 10px rgb(45,45,45);
	margin-top: 4px;
	margin-left: 4px;
	transition: all 0.2s ease-out;
}

#canvas-1-1 {
	// centrer dans la section-1
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // taille
    width: 104%;
    height: 95%;
}

.section-1-photo {
	//taille
	width: 340px;
	height: 60%;
	// centrer verticalement
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	border-right: 1.5px solid rgb(70,70,70);
}

#photo-1 {
	//taille
	width: 220px;
	//centrer verticalement
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    margin-left: 60px;
}

#canvas-1-2 {
	//taille
	width: 240px;
	height: 240px; 
	//centrer verticalement
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}

.section-1-texte {
	//taille
	width: calc(84% - 340px);
	height: 100%;
	//position
	float: right;
	margin-left: 8%;
	margin-right: 8%;
	//style
	font-family: 'FF_Mark_Thin';
	color: rgb(240,240,240);
	letter-spacing: 1.2px;
	font-size: 14px;
	//animation
	animation: 3s revealinvert;
}

@media (max-width: 1050px)  {
	.section-1-texte {
		letter-spacing: 1px;
		font-size: 12px;
	}
}

@media (max-width: 870px)  {
	.section-1-texte {
		letter-spacing: 0.8px;
		font-size: 10px;
	}
}

@media (max-width: 770px)  {
	.section-1-texte {
		display: none;
	}
}

.lien {
	//centrer le texte dans les cases
	margin: 0;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	justify-content: center;
}




//----- SECTION 2 -----

.section-2 {
	//taille
	height: 650px;
	width: 100%;
  	//fond
  	background-color: rgb(25,25,25);
}

.canvas-2-1 {
	height: 650px;
	width: 100%;
	margin: 0;
    position: absolute;
    z-index: 1000;
    //hover des sections
    pointer-events: none;
}

.section-2-container {
	//taille
	height: 100%;
	width: 100%;
}

.section-2-img-container {
	//taille
	height: 85%;
	width: calc(50% - 110px);
	//position
    top: 50%;
    transform: translateY(-50%);
	margin-left: 55px;
	margin-right: 55px;
	overflow: hidden;
	//centrer enfants
    position: relative;
    //style
    border: 1px solid rgba(170,130,40,0.6);
    transition: all 1.5s;
}

#section-2-pro {
	float: left;
}

#section-2-pro:hover {
	box-shadow: 0 0px 30px rgb(30,120,255);
}

#section-2-perso {
	float: right;
}

#section-2-perso:hover {
	box-shadow: 0 0px 50px rgb(255,80,1);
}

.section-2-img {
	//taille
	height: 100%;
	//centrer
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
    //style
    transition: all 0.7s;
}

#section-2-img-pro:hover {
	//curseur
	cursor: pointer;
	//style
	filter: invert(23%) sepia(70%) saturate(324%) hue-rotate(180deg) brightness(105%) contrast(200%);
}

#section-2-img-perso:hover {
	//curseur
	cursor: pointer;
	//style
	filter: invert(25%) sepia(70%) saturate(300%) hue-rotate(1deg) brightness(105%) contrast(200%);
}

.section-2-text-container {
	//premier plan
	position: absolute;
	//height: 50%;
	width: 70%;
	//position
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //hover des sections
    pointer-events: none;
}

.section-2-title {
	//style
	font-family: 'FF_Mark_Heavy';
	color: rgb(249,249,249);
	letter-spacing: 1.5px;
	font-size: 75px;
	//centrer
	text-align: center;
	//transition
	margin-top: 125px;
	transition: all 0.3s;
}

@media (max-width: 950px)  {
	.section-2-title {
		letter-spacing: 1px;
		font-size: 50px;
	}
}

@media (max-width: 700px)  {
	.section-2-title {
		letter-spacing: 1px;
		font-size: 30px;
	}
}

@media (max-width: 500px)  {
	.section-2-title {
		display: none;
	}
}

#section-2-title-pro {
	//animation
	animation: 3s reveal;
}

#section-2-title-perso {
	//animation
	animation: 3s revealinvert;
}

.section-2-text {
	//position
	margin-top: 30px;
	//style
	font-family: 'FF_Mark';
	color: rgb(210,210,210);
	letter-spacing: 1.2px;
	font-size: 17px;
	text-align: justify;
	//affichage
	opacity: 0%;
	//transition
	transition: all 0.7s;
}

@media (max-width: 700px)  {
	.section-2-text {
		letter-spacing: 1px;
		font-size: 13px;
	}
}

@media (max-width: 450px)  {
	.section-2-text {
		display: none;
	}
}





	//----- ANIMATIONS -----

@keyframes reveal {
    0% { clip-path: polygon(100% 100%, 100% 100%, 100% 100%); }
    100%   { clip-path: polygon(100% 100%, -200% 100%, 100% -200%); }
}

@keyframes revealinvert {
    0% { clip-path: polygon(0% 100%, 0% 100%, 0% 100%); }
    100%   { clip-path: polygon(0% 100%, 200% 100%, 0% -200%); }
}